.header {
  @include mq('tablet') {
    height: 140px;
  }
  &-subpage {
    .logo {
      @include mq('tablet') {
        margin: 0 auto;
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;
    @include mq('tablet') {
      padding: 20px 0;
    }
  }
}
.category {
  display: flex;
  align-items: center;
  position: relative;
  @include mq('tablet') {
    position: absolute;
    bottom: -40px;
    left: 0;
  }
  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid #444444;
    background: transparent;
    margin-left: 30px;
    border-radius: 20px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    color: #FFF;
    @include mq('tablet') {
      margin-left: 0;
    }
    &.active {
      background-color: #FFF;
      color: #000;
    }
    &--txt {
      font-size: 14px;
    }
    &--icon {
      width: 18px;
      height: 18px;
      margin-left: auto;
    }
  }
  &__filter {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 240px;
    height: 100px;
    left: 30px;
    bottom: -110px;
    background-color: #fff;
    border-radius: 12px;
    z-index: 99;
    @include mq('tablet') {
      left: 0;
    }
  }
}
.logo {
  display: inline-block;
  width: 80px;
  height: 40px;
  &--img {
    width: 100%;
    height: auto;
  }
}
.search {
  flex-grow: 1;
  margin: 0 40px;
  @include mq('tablet') {
    margin-right: 0;
  }
  @include mq('mobile') {
    margin-left: 20px;
  }
  &__input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #444;
    outline: none;
    color: #999;
    text-indent: 10px;
  }
}
.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq('tablet') {
    position: absolute;
    bottom: -30px;
    right: 0;
  }
  &__txt {
    color: #999;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    @include mq('mobile') {
      display: none;
    }
  }
  &__select {
    &--listing {
      appearance: revert;
      background: transparent;
      color: #FFF;
      border: none;
      font-weight: 300;
      font-size: 16px;
      outline: none;
      option {
        color: #000;
        padding: 20px;
      }
    }
  }
}
