// Helper
$max-width: 1400px;
$gutter: 20px;
$border-radius: 12px;
$finger-size: 40px;
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
$font-family: 'Roboto', sans-serif;
// Colors
$color-black: #000000;
$color-yellow: #f5de50;
$color-orange: #f5c518;
